MDBM_File-*
MDBM_File.bs
MDBM_File.c
MDBM_File.o
MDBM_File.pm
MDBM_File.xs
MYMETA.json
MYMETA.yml
Makefile
Makefile.old
blib/
mdbm/
pm_to_blib
shakedata.cc
shakedata.h
shakedata.o
t
temp_bindir/
typemap
